---
import Layout from "../layouts/Layout.astro"
import Batch from "../components/Batch.astro"
import SocialPill from "../components/SocialPill.astro"
import GitHub from "../icons/GitHub.astro"
import LinkedIn from "../icons/LinkedIn.astro"
import Twitter from "../icons/Twitter.astro"
import Experience from "../icons/Experience.astro"
import ProjectsIcon from "../icons/ProjectsIcon.astro"
import Timeline from "../components/Experience.astro"
import Projects from "../components/Projects.astro"
import About from "../icons/About.astro"
import Search from "../icons/Search.astro"
import RecommendationsIcon from "../icons/RecommendationsIcon.astro"
import Recommendations from "../components/Recommendations.astro"
import SectionHeader from "../components/SectionHeader.astro"
---

<Layout
    title="Paty Cuenca's portfolio - Senior Engineering Manager and Frontend Developer"
    description="Paty Cuenca is a Senior Engineering Manager and Frontend Developer with +15 years of experience. Specialised in leading autonomous and high-performing cross-functional teams. Tinkering with AI-assisted development to upskill for the incoming Skynet-dominated era 🤖."
>
    <main class="mx-auto w-full">
        <!-- Section: Intro -->
        <section class="mt-12" id="#top">
            <h1 class="text-white">Hi, I am Paty 🙋🏻‍♀️</h1>
            <h2 class="text-balance uppercase">Senior Engineering Manager</h2>
            <h3>14 years of experience as a Manager + 8 years of experience as a software developer</h3>
            <p>From sunny <span class="text-cyan-500">Barcelona</span> ☀️.</p>
            <p>Specialised in leading autonomous and high-performing cross-functional teams</p>
            <p>Tinkering with AI-assisted development to upskill for the incoming Skynet-dominated era 🤖</p>
            <div>
                <Batch color="green">Engineering leader</Batch>
                <Batch color="yellow">IC Management</Batch>
                <Batch color="yellow">Leader of leaders</Batch>
                <Batch color="blue">Front End</Batch>
                <Batch color="blue">JavaScript</Batch>
                <Batch color="blue">React</Batch>
            </div>
            <ul class="flex flex-wrap flex-row mt-4 leading-none">
                <li class="">
                    <SocialPill href="https://www.linkedin.com/in/patriciacuenca/">
                        <LinkedIn class="size-5" />
                        LinkedIn
                    </SocialPill>
                </li>
                <li>
                    <SocialPill href="https://github.com/PatyCu">
                        <GitHub class="size-5" />
                        GitHub
                    </SocialPill>
                </li>
                <li>
                    <SocialPill href="https://twitter.com/patycuEM">
                        <Twitter class="size-5" />
                        Twitter
                    </SocialPill>
                </li>
            </ul>
        </section>
        <section class="mt-8" id="looking" hidden>
            <SectionHeader title="What am I looking for" icon={Search} />
            <p>
                I am looking for <span class="text-cyan-500">Senior Engineering Manager</span> positions either <span
                    class="text-cyan-500">hybrid in Barcelona</span
                >
                or <span class="text-cyan-500">remote</span>. I would also consider Engineering Manager positions if the
                project and the company are compelling enough.
            </p>
            <p>
                I have more than 10 years of experience leading mostly Frontend teams (React stack), but I am more than
                open to manage backend teams too!
            </p>
            <p>
                The perfect job would be leading a group of teams and being the people manager for both ICs and other
                Engineering Managers.
            </p>
            <p>
                I would also be happy leading a team of high-performing ICs, bonus points if the team has potential for
                growth and I can help them do it in an efficient and orderly manner!
            </p>
        </section>
        <section class="mt-8" id="about">
            <SectionHeader title="About me" icon={About} />
            <p>
                I am a Senior Engineering Manager with almost 15 years of experience leading software engineering
                teams in agile environments, and leading and mentoring other Engineering Managers.
            </p>
           <p class="pt-4"> Before that I was a software <span class="text-cyan-500">developer for 8 years</span>.</p>
            <p class="pt-4">
                While already being a manager, I discovered a passion for frontend development and that's what I've been
                learning since then: <span class="text-cyan-500">Javascript</span>, <span class="text-cyan-500"
                    >React</span
                > and other JS frameworks, and more recently <span class="text-cyan-500">Typescript</span>.
            </p>
            <p class="pt-4">
                Now my main focus is on AI-assisted development, learning how to effectively collaborate with AI tools
                to boost my productivity and upskill for the incoming Skynet-dominated era 🤖. 
                Foreseeing the seismic shift currently happening in Tech, I also want to stay ahead of the curve and acquire 
                hands-on experience with the tools that are going to be essential in the near future, and that will likely 
                become a standard part of the software development workflow. 
                Both for me, and for my team who I want to be able to support and guide through this transition.
            </p>
            <p class="pt-4">
                I have a track record of building and growing high-performing teams, which in my book means teams that
                are autonomous, accountable, deliver quality software incrementally, and learn from their own mistakes.
            </p>
           <p class="pt-4">
                My values are <span class="text-cyan-500">respect</span> (both for others and myself), <span
                    class="text-cyan-500">honesty</span
                >, <span class="text-cyan-500">transparency</span>, and <span class="text-cyan-500">responsibility</span
                >.
            </p>
            <p class="pt-4">
                Above all else, I am a flawed human being who tries her best to be a good person and a good
                professional. I thrive on bringing order to chaos, solving problems, and helping others reach their full
                potential.
            </p>
        </section>
        <section class="mt-8" id="experience">
            <SectionHeader title="Experience" icon={Experience} iconSize="size-12" />
            <div class="mt-4">
                <Timeline />
            </div>
        </section>
        <section class="mt-8" id="projects">
            <SectionHeader title="Projects" icon={ProjectsIcon} iconSize="size-9 mt-1" />
            <div class="mt-4"><Projects type="work" /></div>
        </section>
        <section class="mt-8" id="pet-projects">
            <SectionHeader title="Side projects" icon={ProjectsIcon} iconSize="size-9 mt-1" />
            <div class="mt-4"><Projects type="side" /></div>
        </section>
        <section class="mt-8" id="recommendations">
            <SectionHeader title="Recommendations" icon={RecommendationsIcon} />
            <Recommendations />
        </section>
    </main>
</Layout>
