---
interface Props {
    color: string;
}

const {color} = Astro.props;
const css = `bg-${color}-100 text-${color}-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-${color}-900 dark:text-${color}-300`;
console.log(css);
---

<span class={css}>
    <slot />
</span>