---
import Batch from "./Batch.astro"

const { title, company, location, startDate, endDate, description, tags } = Astro.props?.item

interface Props {
    item: {
        title: string
        company: string
        location: string
        startDate: string
        endDate?: string | null
        description: string
        tags: string[]
    }
}
---

<span
    class="absolute flex items-center justify-center w-6 h-6 bg-blue-100
  rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
>
    <svg
        class="w-2.5 h-2.5 text-dark-turquoise dark:text-blue-300"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
    >
        <path
            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 
      1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 
      2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
        >
        </path>
    </svg>
</span>
<p>
    <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-100 dark:text-white">
        {title}
        {
            !endDate && (
                <span class="ml-2">
                    <Batch color="deep-blue">Current</Batch>
                </span>
            )
        }
    </h3>
    <h2 class="flex items-center mb-1 text-base">
        <span class="text-cyan-500">{company}</span>
        &nbsp;⎯&nbsp;
        <span class="text-gray-300">
            {location}
        </span>
    </h2>
</p>
<p class="block mb-3 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
    From {startDate}
    {endDate && <span>to {endDate}</span>}
</p>
<p class="mb-4 text-base font-normal text-gray-300/50 text-pretty">
    {description}
</p>
<p>
    {
        tags.map((tag) => (
            <span class="inline-block px-2 py-1 mr-1 text-sm font-medium text-gray-100 bg-gray-800 rounded-md">
                {tag}
            </span>
        ))
    }
</p>
